.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
video {
  width: 100%; /* Set video to take full width of modal */
  height: 50%; /* Maintain aspect ratio */
  max-height: 400px; /* Set a maximum height to reduce size */
 
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 100px; /* Set a max width for the modal */
  width: 20%; /* Use a percentage for responsiveness */
}

.close-button {
  position: absolute;
  top: 15px; /* Space from the top */
  right: 15px; /* Space from the right */
  background: transparent;
  border: none;
  font-size: 28px; /* Increased size for better visibility */
  cursor: pointer;
}

.chart-images {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center images horizontally */
}

.chart-image {
  max-width: 50%; /* Set max width to reduce size */
  height: 5%; /* Maintain aspect ratio */
  margin: 10px 0; /* Space between images */
}
